// css línea 449 //
/* ESPECIFICO PARA PÁGINA BIO (html línea 100) */
@import "map";

.bio-card {
    @extend .card;
    background-color: $TColorLightGrey;
    > img {
        @extend .card-img;
    }
    > div {
        > h2 {
            @extend .card-title;
            color: map-get($map: $colores, $key: title );
        }
        > p {
            @extend .card-text;
            color: map-get($map: $colores, $key: texto );
            > small {
                @extend .text-sign;
                color: map-get($map: $colores, $key: sign );
            }           
        }  
    }
}
