/* ESPECIFICO PARA PÁGINA CONTACTO */
#contact {
    background-image: url("../img/04-contacto/fondo-contacto-04.jpg");
}
.contact-container {
    margin: 3.125rem;
    h2 {
        margin-top: 6rem;
        margin-bottom: 4rem;
        color: $ColorWhite;
        text-align: center;
    }
    form {
        padding: 0 1.25rem 1.25rem 1.25rem;
        background-color: $TColorLightBlue;
        text-align: center;
        border-radius: 1.375rem;
        .form-label {
            color: $ColorWhite;
        }
        .submit-btn {
            margin-bottom: 1.5rem;
            .btn-secondary {
                width: 6.25rem;
                border: none;
                background-color: $ColorMagenta;
                border-radius: 1.25rem;
                &:hover {
                    background-color: $ColorGrey;
                }
            }
        }        
    }  
}