// css línea 24 //
/* DEFAULT */
html {
    min-height: 100vh;
    font-size: 16px;
    body {
        position: relative;
        background-color: $BodyColor;
        font-family: 'Montserrat';
        color: $ColorBlack;
    }
}
