/* DEFAULT */
html {
    font-size: 16px;
    .disclaimer { // elimina mensaje 000webhost
        display: none;
    }
    body {
        font-family: 'Montserrat', sans-serif;
        color: $colorBlack;
    }
}