/* HEADER */
.navbar {
    position: fixed;
    top: 0;
    height: 3rem;
    background-color: $transparentColorLightGrey;
    z-index: 100;
    @media (max-width: 992px) {
        height: 2.4rem;
    }
    & &-brand h1 {
        margin: 0 0.5rem 0 0.5rem;
        font-size: 1.625rem;
        font-weight: 600;
        letter-spacing: 0.5rem;
        color: $colorDarkGrey;
        @media (max-width: 992px) {
            margin-top: -0.3rem;
            margin-right: 0;
            font-size: 1.2rem;
            letter-spacing: 0.32rem;
        }
        @media (max-width: 360px) {
            margin-top: -0.25rem;
            font-size: 1rem;
            letter-spacing: 0.256rem;
        }
        @media (max-width: 320px) {
            margin-top: -0.25rem;
            font-size: 0.85rem;
            letter-spacing: 0.2rem;
        }
        &:hover {
            color: $colorLightBlue;
        } 
    }
    & &-toggler {
        margin-top: -0.4rem;
        padding: 0;
        @media (max-width: 992px) {
            margin-top: -0.3rem;
        }
    }
    & &-toggler:focus {
        box-shadow: none;
    }
    & &-toggler-icon {
        @media (max-width: 992px) {
            width: 1.3rem;
        }
        @media (max-width: 360px) {
            width: 1.04rem;
        }
        @media (max-width: 320px) {
            width: 0.9rem;
        }
    }
    & &-collapse {
        @media (max-width: 992px) {
            height: 75vh;
            margin: 0.14rem -0.75rem 0 -1rem;
            padding: 1rem;
            overflow-y: auto;
            background-color: $colorWhite;
            border-bottom: 0.5rem solid $transparentColorLightGrey;
        }
        @media (max-width: 480px) {
            height: 87vh;
        }
        @media (max-width: 320px) {
            height: 83vh;
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    position: relative;
                    margin: 0.5rem 1rem;
                    padding: 0;
                    font-weight: bold;
                    letter-spacing: 0.1875rem;
                    color: $colorDarkGrey;
                    @media (max-width: 992px) {
                        font-size: 0.8rem;
                        left: -0.5rem;
                    }            
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 0.125rem;
                        width: 100%;
                        background-color: $colorMagenta;
                        /* animación subrayado */
                        transform-origin: right;
                        transform: scaleX(0);
                        transition: transform 0.2s ease-in-out;
                        @media (max-width: 992px) {
                            display: none;
                        }
                    }
                    &:hover::after {
                        /* animación subrayado */
                        transform-origin: left;
                        transform: scaleX(1);
                    }
                    &:focus,
                    &:active {
                        outline: none !important;
                    }
                }
                .dropdown-menu {
                    margin: -0.3rem 0 0.5rem 0;
                    background-color: $transparentColorLightGrey;
                    border: none;
                    .dropdown-item {
                        position: relative;
                        margin: 1rem 1.5rem;
                        width: min-content;
                        padding: 0;                
                        font-weight: bold;
                        letter-spacing: 0.1875rem;
                        color: $colorDarkGrey;
                        @media (max-width: 992px) {
                            font-size: 0.8rem;
                        }         
                        &:hover {
                            background-color: transparent;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            height: 0.125rem;
                            width: 100%;
                            background-color: $colorMagenta;
                            /* animación subrayado */
                            transform-origin: right;
                            transform: scaleX(0);
                            transition: transform 0.2s ease-in-out;
                            @media (max-width: 992px) {
                                display: none;
                            }
                        }
                        &:hover::after {
                            /* animación subrayado */
                            transform-origin: left;
                            transform: scaleX(1);
                        }
                        &:active {
                            color: $colorDarkGrey;
                        }                                      
                    }
                    .inactive--dropdwn-link {
                        margin: 0.5rem 1.5rem;
                        padding: 0;
                        font-weight: bold;
                        letter-spacing: 0.1875rem;
                        color: $colorMagenta;
                        cursor: default;
                        @media (max-width: 992px) {
                            font-size: 0.8rem;
                        }         
                    }
                }
            }
            .inactive-link {
                margin: 0.5rem 1rem;
                font-weight: bold;
                letter-spacing: 0.1875rem;
                color: $colorMagenta;
                cursor: default;
                @media (max-width: 992px) {
                    margin: 0.5rem;
                    font-size: 0.8rem;
                } 
            }            
        }
        .network-container {
            display: flex;
            gap: 0.8rem;
            @media (max-width: 992px) {
                margin: 0 0.5rem 0 0.5rem;
            }
            .network{ 
                img {
                    height: 1.4rem;
                    opacity: 0.4;
                    @media (max-width: 992px) {
                        margin-top: 0.5rem;
                        height: 1.1rem;
                    }
                    &:hover {
                        opacity: 1;
                        transform: scale(1.3);
                    }    
                }  
            }
        }
    }
}
