// map
$colores: (
    title: $ColorMagenta,
    name: $ColorLightBlue,
);

// extend
.parallax-map {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height: 50rem;
    width: 100%;
	max-width: 100%;
	position: relative;
    overflow: hidden;
}

.bio-map {
    font-size: 3rem;
    font-weight: bold;
    left: 10%;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 80%;
}

.nombre-map {
    font-size: 3rem;
    font-weight: bold;
    left: 10%;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 80%;  
}

.texto-map {
	padding: 2rem 3rem 1rem 3rem;
    text-align: center;
}

.p-map {
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
}