// map
$colores: (
    title: $ColorMagenta,
    texto: $ColorGrey,
    sign: $ColorLightBlue,
);

// extend
.card {
    margin: 1.25rem;
    border-radius: 1.375rem;
    padding-bottom: 0.1rem;
}

.card-img {
    border-radius: 1.375rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-title {
    margin-top: 1.5rem;
    font-size: 2.5rem;
    text-align: center;
}

.card-text {
    margin: 0 1rem 0.5rem 1rem;
    font-weight: 100;
    text-align: center;
    line-height: 2.5rem;
}

.text-sign {
    font-size: 1.2rem;
}