// map
$colores: (
    title: $colorMagenta,
    name: $colorLightBlue,
);

// extend
.parallax-map {
	position: relative;
	height: 50rem;
    width: 100%;
	max-width: 100%;
    overflow: hidden;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
}

.bio-map {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.nombre-map {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;  
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.texto-map {
	padding: 2rem 3rem 1rem 3rem;
    text-align: center;
}

.p-map {
    margin: 0 0 1rem 0;
    font-size: 1rem;
    font-weight: bold;
}