// mixin
@mixin sub ($bg) {
    position: absolute;
    bottom: 0.625rem;
    padding: 0.3rem 1rem 0.25rem 1rem;
    background-color: $bg;
    font-size: 1.3rem;
    color: $colorWhite;
    border-radius: 0 1.5625rem 1.5625rem 0;
    animation-delay: 0.9s;
    text-shadow: -1px 0 5px rgba(0, 0, 0, 0.3), 0 1px 5px rgba(0, 0, 0, 0.3), 1px 0 5px rgba(0, 0, 0, 0.3), 0 -1px 5px rgba(0, 0, 0, 0.3);
    @media (max-width: 1023px) {
        margin-right: 1rem;
        margin-bottom: 6rem;
        font-size: 0.96rem;
    }
    @media (max-width: 768px) {
        margin-bottom: 3.5rem;
        }
    @media (max-width: 650px) {
        margin-bottom: 6rem;
        }
    @media (max-width: 480px) {
        margin-bottom: 3.5rem;
        }    
 /* CSS specific to iOS devices */ 
    @supports (-webkit-touch-callout: none) {
        margin-bottom: 5rem;
        @media (max-width: 992px) {
            margin-bottom: 3.5rem;
        }            
        @media (max-width: 480px) {
            margin-bottom: 5rem;
        }            
    }
}

@mixin sub-top ($bg) {
    position: absolute;
    top: 1rem;
    padding: 2rem;
    width: 100%;
    background-color: $bg;
    font-size: 1.3rem;
    text-align: center;
    color: $colorWhite;
    animation-delay: 0.9s;
    text-shadow: -1px 0 5px rgba(0, 0, 0, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5), 1px 0 5px rgba(0, 0, 0, 0.5), 0 -1px 5px rgba(0, 0, 0, 0.5);
    @media (max-width: 992px) {
        margin-top: -0.3rem;
        margin-right: 2rem;
        padding: 1rem;
        font-size: 1.1rem;
    }
    @media (max-width: 480px) {
        font-size: 0.96rem;
    }
}

@mixin arrow ($col) {
    font-size: 3.75rem;
    color: $col;
    @media (max-width: 1024px) {
        margin-bottom: 6rem;
        font-size: 2.4rem;
    }
    @media (max-width: 480px) {
        margin-bottom: 2rem;
    }
    @media (max-width: 380px) {
        margin-bottom: 5rem;
    }
}