/* RESET */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0.2rem;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, $colorLightBlue);
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, $colorMagenta);
}