// vars
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorLightGrey: #f5f5f5;
$colorGrey: #7e7e7e;
$colorLightBlue: #2498e6;
$colorMagenta: #d30b5e;

$transparentColorLightGrey: rgba(245, 245, 245, 0.9);
$transparentColorDarkGrey: rgba(125, 125, 125, 0.7);
$transparentColorLightBlue: rgba(36, 152, 230, 0.7);
$transparentColorMagenta: rgba(211, 11, 94, 0.7);