// vars

$ColorBlack: #000000;
$ColorWhite: #ffffff;
$ColorGrey: #7e7e7e;
$ColorMagenta: #d30b5e;

$TColorLightGrey: rgba(245, 245, 245, 0.9);
$TColorDarkGrey: rgba(125, 125, 125, 0.7);
$TColorLightBlue: rgba(36, 152, 230, 0.7);

